
<br />
<br>
<br>
<div class="container authBody">
  <h1 style="font-weight: 700; color:white;">Enter your email</h1>
  <div id="errorDiv"></div>
  <% if (message) { %>
    <div><%=message %></div>
  <% }  %>
  
  <form class="formContainer" action="/auth/forgotPassword" method="post" onsubmit="return validateLoginForm()">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="email address" value="" />
    </div>
    <br>
    <div class="container btn-holder">
      <p class="text-center"><button type="submit" class="btn btn-primary py-3 px-4">Reset Password</button></p>
    </div>
  </form>
  <br />

</div>


<script defer> 

    function validateLoginForm() {
        const email = document.getElementById("email").value;
        const errorDiv = document.getElementById("errorDiv");
    
        errorDiv.innerHTML = ""; // Clear previous error messages
    
        if (email.trim() === "") {
            displayErrorMessage("Email is required");
            return false;
        }
    
        if (email.length > 50) { // Allow a maximum of 50 characters for email
            displayErrorMessage("Email must be 50 characters or less");
            return false;
        }
    
        return true;
    }
    
    function displayErrorMessage(message) {
        const errorDiv = document.getElementById("errorDiv");
        errorDiv.textContent = message;
    }
    
</script>

