<script defer>
  function validateLoginForm() {
    const email = document.getElementById("email").value;
    const password = document.getElementById("password").value;
    const errorDiv = document.getElementById("errorDiv");

    errorDiv.innerHTML = ""; // Clear previous error messages

    if (email.trim() === "") {
      displayErrorMessage("Email is required");
      return false;
    }

    if (email.length > 50) {
      // Allow a maximum of 50 characters for email
      displayErrorMessage("Email must be 50 characters or less");
      return false;
    }

    if (password.trim() === "") {
      displayErrorMessage("Password is required");
      return false;
    }

    if (password.length > 20) {
      // Allow a maximum of 20 characters for password
      displayErrorMessage("Password must be 20 characters or less");
      return false;
    }

    // If all validations pass, the form will be submitted
    return true;
  }

  function displayErrorMessage(message) {
    const errorDiv = document.getElementById("errorDiv");
    errorDiv.textContent = message;
  }
</script>

<section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-10 ftco-animate">
            


            <div class="row mt-5 pt-3 d-flex align-items-center justify-content-center">
                
                <div class="col-md-8">
                    <form action="/auth/login" onsubmit="return validateLoginForm()" method="post" class="cart-detail bg-light p-3 p-md-4">
                         
                        <h3 class="billing-heading mb-4">Sign in</h3>
                        <div id="errorDiv">
                            <% if (message) { %>
                            <div><%=message%></div>
                          <% }  %>
                        </div>
                                  <div class="form-group">
                                    <label for="emailaddress">Email Address</label>
                                    <input name="email" id="email" type="text" class="form-control" placeholder="Enter Email Address">
                                  </div>
                                  <div class="form-group">
                                    <label for="emailaddress">Password</label>
                                    <input id="password" name="password" type="password" class="form-control" placeholder="Enter Your Password">
                                  </div>
                                 
                                  <p><button class="btn btn-primary py-3 px-4">Login</button></p>
                                  
                                <p class="text-center">Don't have an account?<a href="/auth/signup"class=" py-3 px-4">Signup instead.</a></p>
                                <p class="text-center">Reset Password<a href="/auth/resetPassword"class=" py-3 px-4">Click to reset password.</a></p>
                                </form>
                </div>
            </div>
        </div> <!-- .col-md-8 -->
      </div>
    </div>
  </section>