<div class="hero-wrap hero-bread" style="background-image: url('images/bg_6.jpg');">
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
            <p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span>About</span></p>
          <h1 class="mb-0 bread">About Us</h1>
        </div>
      </div>
    </div>
  </div>


      <section class="ftco-section ftco-no-pt ftco-no-pb">
        <div class="container">
            <div class="row no-gutters ftco-services">
              <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services p-4 py-md-5">
                  <div class="icon d-flex justify-content-center align-items-center mb-4">
                        <!-- <span class="flaticon-payment-security"></span> -->
                        <img src="images/chart.png" class="img-fluid" alt="companyOverview" srcset="">
                  </div>
                  <div class="media-body">
                    <h3 class="heading">Company overview</h3>
                    <p>
                      Blackout Energy Solutions Limited is dedicated to addressing energy deficits
                      through cutting-edge technology and innovation, underpinned by a strong
                      commitment to research and development.</p>
                  </div>
                </div>      
              </div>
      <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services p-4 py-md-5">
          <div class="icon d-flex justify-content-center align-items-center mb-4">
                <!-- <span class="flaticon-bag"></span> -->
                <img src="images/mission.png" class="img-fluid" alt="mission">
          </div>
          <div class="media-body">
            <h3 class="heading">Mission</h3>
            <p>To reduce the cost of energy by increasing production through cost-effective
              methods and decentralizing power generation.</p>
          </div>
        </div>      
      </div>
      <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services p-4 py-md-5">
          <div class="icon d-flex justify-content-center align-items-center mb-4">
                <!-- <span class="flaticon-customer-service"></span> -->
                <img src="images/light-bulb.png" class="img-fluid" alt="vision" srcset="">
          </div>
          <div class="media-body">
            <h3 class="heading">Vision</h3>
            <p>To eliminate the power deficit in the region and ensure everyone has access to
              electricity at a reasonable price.
              </p>
          </div>
        </div>    
      </div>
      
    </div>
        </div>
    </section>

  <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
          <div class="container">
              <div class="row">
                  <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/blackoutLogo2.png);">
                      <a href="https://vimeo.com/45830194" class="icon popup-vimeo d-flex justify-content-center align-items-center">
                          <span class="icon-play"></span>
                      </a>
                  </div>
                  <div class="col-md-7 py-md-5 wrap-about pb-md-5 ftco-animate">
            <div class="heading-section-bold mb-4 mt-md-5">
                <div class="ml-md-0">
                  <h2 class="mb-4">Market Analysis</h2>
              </div>
            </div>
            <div class="pb-md-5 pb-4">
                          <p>
                            Before the current national crisis Zambia had a deficit of 1500 Mega Watts (MW)
                            against the installed capacity of 3300MW. This means that even the users that
                            had means to pay for access to the national grid are now in demand for
                            alternative energy sources.
                          </p>
                          <p>
                            Herein lies our target market for this solution. These are individuals who have the
                            purchasing power to pay for electricity but are not able to be supplied due to
                            the crisis.
                          </p>
                          <p><a href="/shop" class="btn btn-primary">Shop now</a></p>
                      </div>
                  </div>
              </div>
          </div>
      </section>